.outershell {
	margin:100px auto;
	width: 600px;
	height: 300px;
	background-color: #696969;
	border-radius: 7px;
}
.innershell {
	display: inline-block;
	margin-left: 50px ;
	margin-top: 25px;
	width: 500px;
	height: 250px;
	background-color: black;
	border-radius: 7px;
}
.ampmshell {
	height: 50%;
	width: 15%;
	/*margin: 15px 0px 0px 15px;*/
	padding: 25px 0px 0px 40px;
}
.labels {
	display: block;
	padding: 10px;
	float: right;
	color: white;
}
.clockscreen {
	display: inline-block;
	height: 45%;
	width: 65%;
	background-color: #8B0000;
	float: right;
	margin-top: -130px;
	margin-right: 50px;
	border-radius: 7px;
	padding-top: 10px;
}
#clocktext {
	color: red;
	font-size: 90px;
	display: inline;
	padding-left: 40px;
	margin-top: 30px;
}
.amradio {
	color: white;
	font-size: 20px;
	padding: 0px 0px 0px 150px;
} 
.pmradio {
	color: white;
	font-size: 20px;
	padding: 0px 0px 0px 150px;
}